@{
  Layout = "_Layout";
}

@using Treats.Models

<h1 id="splash-h1">Pierre's Sweet & Savory Treats</h1>
<div id="splash-p-tag">
  <p>Welcome to Pierre's Bakery!</p>
  <p>To find what you want you may search for flavors you're craving or the type of treat you know you want.</p>
  <p>However, you choose to find your delectable treat, </p>
  <p>please enjoy!</p>
</div>
