@{
  Layout = "_Layout";
}

@model FlavorsNTreats.Models.Treat
@using FlavorsNTreats.Models

<h2>Add a Treat</h2>
<p>@Html.ValidationMessageFor(model => model.TreatId, "", new {@class = "text-danger", @style = "font-weight: 600;"})</p>
<hr width="50%" />
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add Treat" class="btn btn-primary" />
}

<div class="page-links">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>